body {
    margin: 30px;  
    padding: 30px;
    background-color:#F2F7F0;
    box-align: center;
  }

h1 {
    color: rgb(98, 177, 144);
    font-size: 30px;
    font-weight: bold;
    padding:10px;
  }

h2 {
    color: rgb(98, 177, 144);
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    padding: 30px;
  }

p {
    padding: 10px;
}

img {
    height: 150px;
    width: 150px;
    box-align: center;
    padding: 10px;
  }

.toppic {
    height: 350px;
    width: 450px;
    box-align: left;
    padding: 10px;
}

.sumpic {
  height: 300px;
  width: 300px;
  box-align: left;
  padding: 10px;
}

.highlight {
    outline-style:solid;
    outline-color: rgb(98, 177, 144);
}

.container-left {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    padding: 10px;
    align-self: left;
  }

.container-right {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    padding: 10px;
    align-self: right;
  }

.container-right1 {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 10px;
    align-self: right;
  }

/* Style the header with a background and some padding */
.header {
    overflow: hidden;
    background-color: white;
    padding: 0px 30px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    right: 0;
    left: 0;
    width: 100%; /* Full width */
  }
  
  /* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 12px; 
    line-height: 10px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: rgb(98, 177, 144);
  }
  
  /* Float the link section to the right */
.header-right {
    float: right;
    background-color: white;
    color: grey;
  }
  
}